body {
    background-color: white;
    margin: 0;
    color: black;
    font-family: monospace;
}

#header {
    display: table-row;
    padding: 5px;
    width: 100%;
    border-bottom: 5px double black;
}

#page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#table-container {
    overflow: scroll;
}

#sound-sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    padding: 0 50px;
    background-color: grey;
    border-left: 5px double black;
    opacity: 0.95;
    overflow-y: scroll;
}

#close-sidebar {
    font-size: 2rem;
    font-style: bold;
    position: absolute;
    right: 25px;
    top: -25px;
}

#hide-header {
    font-size: 2rem;
    font-style: bold;
    
}

#close-sidebar:hover {
    cursor: pointer;
    color: darkgrey;
}

.multiSelection {
    display: table-cell;
    border: 2px solid black;
    max-width: 400px;
    padding: 5px;
}

button {
    cursor: pointer;
}

.sketchFigure {
    margin: 0;
    padding: 0;
}

.sketchImage {
    width: inherit;
    position: relative;
    left: 0;
    top: 0;
    border: 1px solid white;
    z-Index: -1;
}

.checkbox-container {
    display: inline-block;
    padding: 0 0.3rem;
}

label {
    display: block;
    text-align: center;
}

input {
    display: block;
}

.xLabel {
    width: 75px;
    word-wrap: break-word;
    word-break: break-all; 
    text-align: center;
}

.yLabel {
    max-width: 2rem;
    height: 75px;
    transform: rotate(-90deg);
    
}

