body {
    background-color: white;
    margin: 0;
    color: black;
    font-family: monospace;
}

#header {
    display: table-row;
    padding: 5px;
    width: 100%;
    border-bottom: 5px double black;
}

#page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#table-container {
    overflow: scroll;
}

.multiSelection {
    display: table-cell;
    border: 2px solid black;
    max-width: 400px;
    padding: 5px;
}

button {
    cursor: pointer;
}

.sketchFigure {
    margin: 0;
    padding: 0;
}

.sketchImage {
    width: inherit;
    position: relative;
    left: 0;
    top: 0;
    border: 1px solid white;
    z-Index: -1;
}

.checkbox-container {
    display: inline-block;
}

label {
    display: block;
    text-align: center;
}

input {
    display: block;
}

.xLabel {
    width: 75px;
    word-wrap: break-word;
    word-break: break-all; 
    text-align: center;
}

.yLabel {
    max-width: 2rem;
    height: 75px;
    transform: rotate(-90deg);
    
}

